<!DOCTYPE html>
<html>
<head>
    <title>Google Map Demo</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }


    </style>
</head>
<body>
<div id="map"></div>
<script>
    var map;
    var marker;
    var markerList;
    var path;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 39.144684, lng: -84.510079},
            zoom: 10
        });
    }

    function displayRoute(flightPath) {
        // clean path
        if (path !== undefined) {
            for (var i=0; i<markerList.length; i++) {
                markerList[i].setMap(null);
            }
            path.setMap(null);
        }

        // make pathlist
        for (var i=0; i<flightPath.length; i++) {
            marker = new google.maps.Marker({
                position: flightPath[i],
                map: map
            });
            markerList.push(marker);
        }

        // make path
        path = new google.maps.Polyline({
            path: flightPath,
            geodesic: true,
            strokeColor: '#FFOOOO',
            strokeOpacity: 1.0,
            strokeWeight: 2
        })

        path.setMap(map);
        repositionMap(flightPath);
    }

    function repositionMap(flightPath) {
        var bounds = new google.maps.LatLngBounds();

        for (var i = 0; i < flightPath.length; i++) {
            bounds.extend(flightPath[i]);
        }
        map.fitBounds(bounds);
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN01ohnVZgrgS4KBh5l-rAksgMovOWCRA&callback=initMap"
        async defer></script>
</body>
</html>
